html{
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    margin: 0%;
    padding: 0%;
}
#title {
    color: rgb(77, 77, 77);
    text-align:left;
    font-size: 2.8125rem;
    font-weight: 900;
}
p {
    font-size: 1.5625rem;
}
/* Header tab */
header {
    background-color: white;
    height: 4rem;
    display: flex;
    position: fixed;
    z-index: 100;
    width: 100%;
}
.header-logo {
    display: flex;
    align-items: center;
    margin-left: 1.5rem;
}
.header-logo img{
    width: 53px;
    height: 50px;
}
.logo-title{
    margin: 0px 0px;
    font-weight: 500;
    color: rgb(165, 165, 165);
}
.header-nav{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 1.5rem;
}
.header-nav a{
    padding-right: 1rem;
    font-size: 1.1875rem;
    font-weight: 500;
}

/* Banner Image */
#banner{
    position: relative;
    top: 3.75rem;
    background-color: rgba(167, 167, 167, 0.411);
    height: 42.1875rem;
    width: 100%;
    display: flex;
}
.img-container  {
    width: 60%;
    margin: 2rem 1.5rem;
}
.img-ban{
    width: 100%;
    height: 100%;
}
.img-ban img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.banner-container{
    max-width: 31.25rem;
    min-width: 26.25rem;
    width: 30%;
    display: flex;
    margin-left: 1.5rem;
}
.banner-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center; 
}
.banner-text h1{
    margin: 0rem;
}
.banner-text h3 {
    color: rgb(88, 88, 88);
    text-align: left;
    font-size: 2.1875rem;
    font-weight: 600;
    margin: 2.1875rem 0rem;
}
.banner-text button {
    color: rgb(235, 235, 235);
    background-color: rgb(70, 70, 70);
    font-size: 1.75rem;
    height: 5rem;
}

/* main */
#middle  {
  
    position: relative;
    top: 3.75rem;
    height: 60rem;
    width: 100%;
    display: flex;
}
#left-main  {
    /*background-color: aqua;*/
    width: 62.6%;
    height: 100%;
    display:block
}
.left-img{
    margin: 2rem 1.5rem;
}
.left-img  img{
    width: 100%;
    object-fit: cover;
}


.text-container {
    width: 90%;
    height: 100%;
    margin-left: 1.5rem;
    word-wrap: break-word;
} 
#right-main {
    width: 40.25%;
    height: 100%;
}
.right-container  {
    display: flex;
    align-items: center;
    width: 91.3%;
    padding: 8px 10px;
    margin-top: 1.5rem;
    margin-left: 10px;
}
.con-img{
    width: 40%;
}
.con-img img {
    width: 100%;
    object-fit: cover;
}
.con-text {
    width: 60%;
    margin-left: 16px;
}
.con-text h5 {
    font-size: 20px;
    font-weight: 400;
    line-height: 29px;
    margin: 10px 0px;
}
.con-text h1 {
    font-size: 26px;
    margin: 10px 0px;
}
.link {
    color: rgb(15, 153, 199);
}